<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
        <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div class="field">
    <%= form.label :caption %>
    <%= form.text_area :caption %>
</div>

<div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
</div>


<div class="field">
    <select name="post[category_id]" id="category_id">
        <% @posts.each do |post| %>
          <option value="<%= post.category.id %>"><%= post.category.name %></option>
        <% end %>
    </select>

</div>

<div class="actions">
    <%= form.submit %>
</div>
<% end %>


<script src="https://cdn.tiny.cloud/1/przgmzfaioiisrc6rjnssfkp36q9iscbyi8az9573ti8fztu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
    });
</script>
